<div class="list-group">
    <a *ngFor="let posts of postsList" href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{posts.title}}</h5>
          <small>3 days ago</small>
      </div>
        <p class="mb-1">{{posts.description}}</p>
          <small>read more...</small>
        <div>
            <i title="Edit" class="fas fa-edit" aria-hidden="true"></i>
            <i title="Delete" class="fas fa-trash-alt" aria-hidden="true"></i>
        </div>
        <tr *ngFor="let posts of listPosts">
            <td>{{posts.number}}</td>
            <td>{{posts.title}}</td>
            <td >
                <button class="btn btn-primary" (click)="edit(posts.title)">Edit</button>
            </td>
            <td >
                <button class="btn btn-danger" (click)="delete(posts.title)">Delete</button>
            </td>
            <td><button class="btn btn-success" (click)="detail(posts.title)">Detail</button></td>
          </tr>
      </a>
</div>


